<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <!-- Page header -->
    <header class="inventory-header">
      <h1 class="inventory-header__header" >Wrong Password Page</h1>
    </header>

    <!-- Page main content -->
    <main>
      <a href="/">
        <h2 style="text-align: center; font-family: sans-serif; font-size: 2rem; color: white; margin-bottom: 30px;" > Get the correct password from an admin </h2>
        <h3 style="text-align: center; font-family: sans-serif; font-size: 1.5rem; color: white;" >Go back</h3>
      </a>
    </main>

    <!-- Page Footer -->
     <footer>

     </footer>
  </body>
</html>