<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <!-- Page header -->
    <header class="inventory-header">
      <h1 class="inventory-header__header" >Computer Inventory Form</h1>
    </header>

    <!-- Page main content -->
    <main>
      <div class="form-container__div">
        <form method="POST" action="/updateItem?Id=<%=Id%>" class="form-container__form" enctype="multipart/form-data">
          <h2>Update Item Form</h2>

          <div class="form-container__form-group-div">
            <label style="margin: 0 auto;" for="image">Upload Image</label>
            <input style="display: none;" type="file" name="image" id="image" required>
          </div>

          <div class="form-container__form-group-div">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="e.g. Keybaord" minlength="1" maxlength="20" required>
          </div>

          <div class="form-container__form-group-div">
            <label for="category">Category:</label>
            <select name="category" id="category">
              <option value="input"> Input </option>
              <option value="output"> Output </option>
              <option value="software"> Software </option>
              <option value="storage"> Storage device </option>
            </select>
          </div>

          <button type="submit" class="form-container__submit-button">Update</button>

        </form>
      </div>
    </main>

    <!-- Page Footer -->
     <footer>

     </footer>
  </body>
</html>